@charset "utf-8";
/* CSS Document */
body {
	padding: 0;
	margin: 0;
	
}

.background{
	width: 100vw;
	height: 100vh;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}

.door {
	position: relative;
	width: 350px;
	height: 690px;
}

.door-frame{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.door-body{
	position: absolute;
	left: 27px;
	bottom: 0vh;
	width: 84%;
	height: 84%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	transform-origin: 0%;
	transition: 5s;
	transform: translate3d(0%, 0, 0)
}

.walk-in {
	position: absolute;
	left: 27px;
	bottom: 0vh;
	width: 84%;
	height: 84%;
	background-color: black;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.background:nth-child(1) .door-frame{
	background-image: url("Images/doorframe.jpg");
}
.door-frame:nth-child(1) .door-body{
	background-image: url("Images/doorin.jpg");
}
.door-frame:nth-child(1) .walk-in{
	background-image: url("Images/monster.png");
}

.door-frame:hover .door-body{
	transform: perspective(100vw) rotateY(-120deg);
}